<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <p>親愛的 <%= username %> <%= gender %></p>
    <p>您的訂位已經成功囉, 感謝您選擇港都熱炒！</p>
    <p>以下是您的訂位資訊：</p>
    <p>訂位時間： <%= time %></p>
    <p>訂位人數： <%= people %> 位</p>
    <p>備註： <%= remark %></p>
    <p>
      溫馨提醒：請您準時到達，如需更改或取消，請提前聯繫我們。如果有特殊飲食需求或過敏情況，請提前或在抵達餐廳時告知我們的服務人員，期待您的光臨！
    </p>
  </body>
</html>
